<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger nico" href="/">Better Life</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">ホーム</a></li>
                        <li class="nav-item  mx-0 mx-lg-1 dropdown">
                            <a class="nav-link dropdown-toggle  py-3 px-0 px-lg-3 " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</a>
          <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/duties">生活保護とは</a>
                                <a class="dropdown-item" href="/actions">申請できる人</a>
                                <a class="dropdown-item" href="/step">申請までのステップ</a>
                                <a class="dropdown-item" href="/mindsets">マインドセット</a>
                                <a class="dropdown-item" href="/questions">Q&A</a>
                                <a class="dropdown-item" href="/articles">インタビュー</a>
                            </div>
                        </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container see bgg">
<h1 class="text-center"><i class="fas fa-sign"></i><span>   生活保護とは</span></h1>	
<div class="row bootstrap snippets bootdeys">
    <div class="col-lg-12 content-card">
        <div class="card-big-shadow mb-5">
            <div class="card" data-background="color" data-color="yellow" data-radius="none">
                <div class="content">
                    <h6 class="category"></h6>
                    <h4 class="title text-center">権利と義務</h4>
                    <p class="description"><strong>権利として保証されること</strong><br>
                                            ・生活保護の要件を満たす限り、誰でも平等に生活保護を受けることができます<br>
                                            ・正当な理由がないのに、保護を止められたり、保護費を減らされたりすることはありません<br>
                                            ・保護費について税金が課せられたり、差し押さえられたりすることはありません<br><br>
                                            <strong>守るべきこと（義務）</strong><br>
                                            ・保護を受ける権利を他人に譲り渡すことはできません<br>
                                            ・働ける人は、少しでも収入を増やすよう能力に応じて働きます<br>
                                            ・病気の人は、医師の指示に従って治療につとめます<br>
                                            ・住宅費や給食費など、それぞれの支給のために使用し、滞納しません<br>
                                            ・収入・支出などの状況把握し、節約をしながら生活の維持・向上に努めます<br>
                                            ・収入の変化があったらすぐ担当に伝えます<br>
                                            ・生活状況が変わった時の届出をします<br>
                                            ・担当ケースワーカーの指導・指示に従います</p>
                </div>
            </div> <!-- end card -->
        </div>

    </div>
</div>
<div class="row bootstrap snippets bootdeys">
    <div class="col-lg-6 content-card">
        <div class="card-big-shadow">
            <div class="card" data-background="color" data-color="blue" data-radius="none">
                <div class="content">
                    <h6 class="category"></h6>
                    <h4 class="title text-center">受けられる扶助の種類</h4>
                    <p class="description">
                        <br> 
                        ①生活扶助<br>
                        日々の暮らしにかかる食費、光熱費、電話代、交際費など<br>
                        ②住宅扶助<br>
                        家賃、部屋代、地代、住宅維持費（修繕費）、更新料引越し費用など<br>
                        ③教育扶助<br>
                        子供の義務教育にかかる費用（学級日、教材費、給食費、通学費など）<br>
                        ④介護扶助<br>
                        介護サービスを受ける費用など（サービスなどの現物給付）<br>
                        ⑤医療扶助<br>
                        病気やケガをして医療を受けるときの費用（治療、手術、薬などの現物給付）<br>
                        最小限の通院費<br>
                        ⑥出産扶助<br>
                        病院や助産施設で出産する費用<br>
                        ⑦生業扶助<br>
                        就職するための技能を習得する費用、就職支度費用、子供の高校の授業料など<br>
                        ⑧葬祭扶助<br>
                        お葬式、火葬、埋葬費用などの費用<br><br>
                        ※現物支給とは現金ではなく医療圏や調剤券などとして支給されます<br>
                        ※生活保護になると保険料を支払わなくなるので保険証がなくなります</p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
    
    <div class="col-lg-6 content-card">
        <div class="card-big-shadow">
            <div class="card" data-background="color" data-color="orange" data-radius="none">
                <div class="content">
                    <h6 class="category"></h6>
                    <h4 class="title text-center">その他状況に応じた一時補助や免除</h4>
                    <p class="description"><br>
                        ①アパートに入居するための費用<br>
                        敷金・礼金・仲介手数料など<br>
                        ②家具什器日<br>
                        日常生活に必要な家具・道具の費用<br>
                        ③移送日<br>
                        転居費・入院費・肉親の葬式に行く費用など<br>
                        ④被覆費<br>
                        布団・衣類の費用<br>
                        ⑤住宅維持費<br>
                        水道・電気・網戸・畳などの修理費<br>
                        ⑥入学準備金<br>
                        小・中学・高校の入学準備のための費用 </p>
                </div>
            </div> <!-- end card -->
        </div>
        <div class="card-big-shadow mb-5">
            <div class="card" data-background="color" data-color="brown" data-radius="none">
                <div class="content">
                    <h6 class="category"></h6>
                    <h4 class="title text-center">免除割引</h4>
                    <p class="description">（保護期間のみが対象で、過去の免除にはならない）<br>
                                            ・国民年金の保険料			<br>
                                            ・NHK放送受信料			<br>
                                            ・上下水道の基本料			<br>
                                            ・地方税など			<br>
                                            ・交通無料乗車券の発行や割引<br>			
                                            ※地域によって異なります			</p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
<br>
<br>
<br>
<br>
</div>
