<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger nico" href="/">Better Life</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">ホーム</a></li>
                        <li class="nav-item  mx-0 mx-lg-1 dropdown">
                            <a class="nav-link dropdown-toggle  py-3 px-0 px-lg-3 " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</a>
          <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/duties">生活保護とは</a>
                                <a class="dropdown-item" href="/actions">申請できる人</a>
                                <a class="dropdown-item" href="/step">申請までのステップ</a>
                                <a class="dropdown-item" href="/mindsets">マインドセット</a>
                                <a class="dropdown-item" href="/questions">Q&A</a>
                                <a class="dropdown-item" href="/articles">インタビュー</a>
                            </div>
                        </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container see">
    <section class="resume-section" id="3">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center d-flex align-items-center">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_bczqkp40.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>                
            </div>
            <div class="col-lg-6 my-3">
                <h2 class="mb-0">
                生活保護は
                    <span class="text-primary">「自立」</span>
                    をするのに利用しよう
                </h2>
                <div class="subheading mb-5">
                </div>
                    <p class="lead mb-5">①生活保護が必要なんだと受け入れる<br>
                                        ②自分の意志で受けることを選択する<br>
                                        ③生活保護の申請をする<br>
                                        ④生活保護を使いながら自分のできることや人生を探していく<br>
                                        これが大事な自立のための大きなステップです！</p>

            </div> 
        </div>
    </section>
    <hr class="m-0" />
</div>
<div class="container mt-5">
    <section class="resume-section" id="3">
        <div class="row">
            <div class="col-lg-6 my-3">
                            <h2 class="mb-0">生活保護を申請するのに<br>
                    <span class="text-primary">立ちはだかる壁</span>
                </h2>
                <div class="subheading mb-5">
                </div>
                    <p class="lead mb-5">																									
                                        <span class="h5">自分</span><br>																									
                                        まず、自分が生活保護が必要であると受け入れることが大事です。生活保護はあなたがゆとりを取り戻すために利用できる制度です。それが自立の第一歩です。また、書類を書いたり、自分の状況について役所の人に説明するのも労力がいることです。簡単ではありませんが、腹をくくりましょう！<br><br>																									
                                        <span class="h5">役所</span><br>																									
                                        申請に行く際に、「まだ若いから」「仕事を探してからまたきて」と追い返されることもあるそうですが、ここで怯んではいけません。全ての人が申請する権利があるので自信をもって申請しても大丈夫です。</p>
            </div>
            <div class="col-lg-6 d-flex justify-content-center d-flex align-items-center">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_RVLrRk.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>            
            </div> 
        </div>
    </section>
    <hr class="m-0" />
</div>