<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">良い生活</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">HOME</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/step">STEPS</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">DUTY</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/articles">NEWS</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/mindsets">MINDSET</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/actions">現場で</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#contact">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <section class="resume-section" id="3">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_bczqkp40.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>                
            </div>
            <div class="col-lg-6 my-3">
                <h2 class="mb-0">
                    <span class="text-primary">自立</span>
                    と言うのは？
                </h2>
                <div class="subheading mb-5">
                    small facts 
                </div>
                    <p class="lead mb-5">《名・ス自》自分以外のものの助けなしで、または支配を受けずに、自分の力で物事をやって行くこと。
 「―心が強い」</p>

            </div> 
        </div>
    </section>
    <hr class="m-0" />
</div>
<div class="container mt-5">
    <section class="resume-section" id="3">
        <div class="row">
            <div class="col-lg-6 my-3">
                            <h2 class="mb-0">
                    <span class="text-primary">MINDSET</span>
                    と言うのは？
                </h2>
                <div class="subheading mb-5">
                    small facts 
                </div>
                    <p class="lead mb-5">the established set of attitudes held by someone.</p>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_lb6Gsk.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>            
            </div> 
        </div>
    </section>
    <hr class="m-0" />
</div>